.search {
  display: none;
}
.search-shortcut {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
}
.search-shortcut .search-back {
  padding-top: 12px;
}
.search-shortcut .searchBox {
  position: relative;
}
.search-shortcut .searchBox::before {
  position: absolute;
  left: 10px;
  top: 8px;
}
.search-shortcut .search-input {
  padding-left: 30px;
  width: 250px;
  height: 40px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid transparent;
  line-height: 40px;
}
.search-shortcut .search-input:focus {
  background-color: #fff;
  border: 1px solid #ff4444;
}
.search-shortcut .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: #ff4444;
}
.search-nav {
  display: none;
  padding: 20px 100px 0;
  height: 65px;
  border-bottom: 1px solid #eee;
}
.search-nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.search-result-content {
  display: none;
  position: relative;
  margin: 10px 2px 0 5px;
}
#result-user {
  padding: 5px 15px;
}
#result-user .user-item:nth-child(1) {
  border-top: 1px solid #eee;
}
#result-user .user-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}
#result-user .user-item h4 {
  font-size: 16px;
}
#result-user .user-item p {
  white-space: nowrap;
  color: #bbb;
}
#result-user .user-item span {
  margin-top: 5px;
}
#result-user img {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}
#result-user span {
  float: right;
}
#result-user .follow {
  margin-top: 5px;
}
#result-user .endUserInfo {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.follow-error {
  position: absolute;
  top: 50vh;
  left: 50%;
  padding: 0 5px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
